//= Колонки=============================================================
$cols: 12; // Количество колонок
$gutter-max: 1vw; // Максимальное расстояние между колонками
$gutter-min: 10px; // Минимальное расстояние между колонками
