//= Медиа-запросы ======================================================
//= Меньше, чем extra-small - tiny      // T (крохотный)
$extra-small: 400px; // XS (очень маленький)
$small: 600px; // S (маленький)
$medium: 850px; // M (средний)
$large: 1200px; // L (большой)
$extra-large: 1800px; // XL (очень большой)
$huge: 1801px; // H (гигантский)
